<div class="text-center mt-5 ">
    <h1>Bienvenue sur Angular</h1>
</div>
    
    <div class="card w-75 m-auto mt-5 p-3 shadow">
        <p>Pour la création d'un nouveau projet utilisez la commande suivante :</p>
        <p class="text-center"><strong>ng new nom-du-projet</strong></p>
    </div>

    <div class="card w-75 m-auto mt-5 p-3 shadow">
        <p>Pour lancer le serveur de développement utilisez la commande suivante :</p>
        <p class="text-center"><strong>ng serve</strong></p>
        <p class="text-center">Ou</p>
        <p class="text-center"><strong>ng serve -o</strong></p>
    </div>

    <div class="card w-75 m-auto mt-5 p-3 shadow">
        <p>Pour créer un composant utilisez la commande suivante :</p>
        <p class="text-center"><strong>ng generate component nom-du-composant</strong></p>
        <p class="text-center">Ou</p>
        <p class="text-center"><strong>ng g c nom-du-composant</strong></p>
    </div>

    