<ul ngbNav #nav="ngbNav" [activeId]="2" class="nav-tabs justify-content-center">

	<li>
		<button routerLink="" class="nav-link" ngbDropdownItem>home</button>
	</li>

	<li ngbDropdown class="nav-item" role="presentation">
		<button type="button" class="nav-link" ngbDropdownToggle>Demo</button>
		<div ngbDropdownMenu>
			<button routerLink="demo/bindings" ngbDropdownItem>Demo bindings</button>
			<div class="dropdown-divider"></div>
		</div>
	</li>

	<li ngbDropdown class="nav-item" role="presentation">
		<button type="button" class="nav-link" ngbDropdownToggle>Exo</button>
		<div ngbDropdownMenu>
			<button routerLink="exo/compteur" ngbDropdownItem>Exo Compteur</button>
			<div class="dropdown-divider"></div>
		</div>
	</li>

</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>