<ul ngbNav #nav="ngbNav" [activeId]="2" class="nav-tabs justify-content-center">

	<li>
		<button routerLink="" class="nav-link" ngbDropdownItem>home</button>
	</li>

	<li ngbDropdown class="nav-item" role="presentation">
		<button type="button" class="nav-link" ngbDropdownToggle>Demo</button>
		<div ngbDropdownMenu>
			<button routerLink="demo/bootstrap" ngbDropdownItem>Demo bootstrap</button>
			<button routerLink="demo/bindings" ngbDropdownItem>Demo bindings</button>
			<button routerLink="demo/pipes" ngbDropdownItem>Demo Pipes</button>
			<button routerLink="demo/directives" ngbDropdownItem>Demo Directives</button>
			<button routerLink="demo/input-output" ngbDropdownItem>Demo Input-Output</button>
			<button routerLink="demo/serv-list-product" ngbDropdownItem>Service :  List</button>
			<button routerLink="demo/serv-details-product" ngbDropdownItem>Service :  Details</button>
			<button routerLink="demo/serv-create-product" ngbDropdownItem>Service :  Create</button>
			<button routerLink="" ngbDropdownItem>Activated Route & Router</button>
			<button routerLink="demo/form-intro" ngbDropdownItem>Intro Formulaires</button>
			<button routerLink="demo/form-controle" ngbDropdownItem>Form Control</button>
			<button routerLink="demo/form-group" ngbDropdownItem>Form group</button>
			<button routerLink="demo/form-array" ngbDropdownItem>Form Array</button>
			<button routerLink="demo/signals" ngbDropdownItem>Signals</button>
			<button routerLink="demo/guard" ngbDropdownItem>Guard</button>
			<button routerLink="demo/observable" ngbDropdownItem>Observable</button>
			<button routerLink="demo/http" ngbDropdownItem>Http</button>
			<button routerLink="demo/resolver" ngbDropdownItem>Resolver</button>
			<button routerLink="demo/testing" ngbDropdownItem>Testing</button>
			<div class="dropdown-divider"></div>
		</div>
	</li>

	<!-- Affichage  du menu uniquement si l'utilisateur est admin -->
	@if(isAdminSignalNavbar()){
	
	<li ngbDropdown class="nav-item" role="presentation">
		<button type="button" class="nav-link" ngbDropdownToggle>Exo</button>
		<div ngbDropdownMenu>
			<button routerLink="exo/compteur" ngbDropdownItem>Exo Compteur</button>
			<button routerLink="exo/product" ngbDropdownItem>Exo Product</button>
			<button routerLink="exo/directives-exo1" ngbDropdownItem>Exo Directives 1</button>
			<button routerLink="exo/directives-exo2" ngbDropdownItem>Exo Directives 2</button>
			<button routerLink="exo/input-output1" ngbDropdownItem>Exo Input-Output 1</button>
			<button routerLink="exo/input-output-bindings" ngbDropdownItem>Exo Input-Output Bindings</button>
			<button routerLink="exo/exo-input-list-product" ngbDropdownItem>Exo Input-Output double liste </button>
			<button routerLink="exo/exo-list" ngbDropdownItem>Exo List</button>
			<button routerLink="exo/exo-add" ngbDropdownItem>Exo Add</button>
			<button routerLink="exo/exo-details" ngbDropdownItem>Exo Details</button>
			<button routerLink="exo/book-app-login" ngbDropdownItem>Exo Book App Login</button>
			<div class="dropdown-divider"></div>
		</div>
	</li>
	}

	
	<li>
		<app-login-component></app-login-component>
	</li>

</ul>
